# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Distribution / packaging
.Python
env/
bdist/ 
dist/
build/

# Virtual environment
venv/
ENV/

# Flask instance folder
instance/

# IDEs and editors
.idea/
.vscode/
*.swp

# Logs
*.log
